{% extends "base/base.html" %}
{%load staticfiles%}

{% block content %}
    <div class="container" style="padding-right: 100px; padding-left: 100px">
  <br>

    <h1 style="color: white; text-align: center;">Tentang Kami</h1>
    <br>

    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_jnHYk0nlGK-OAhDAr3TsvSnz51Q1AbxX26FlIppv5E0v3MU3" style = "width : 100%; height: 80%" class="img-fluid d-block" alt="news image">
    <br><br>


  <div class="jumbotron" style="background-color: #56927E"> 
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPqXWhXgToGyZRPeLxFCGgV7EbM-guR7B9zNN5F0qw6i58_xzg" style="float: left; margin-right: 20px; max-width: 100%; margin-bottom: 20px; max-height: 100%; height: 150px; width: 150px;">
    <h2>Jeremia Delviero</h2>
    <p style="color: black; text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu congue neque. Vestibulum eget sagittis ligula. Nunc eu vulputate nibh. Integer pellentesque id eros vel convallis. Suspendisse dapibus tellus quis urna aliquam, nec imperdiet nunc tincidunt. Nulla blandit dolor urna, sed sodales leo aliquet eget. Fusce nec pulvinar turpis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu congue neque. Vestibulum eget sagittis ligula. Nunc eu vulputate nibh. Integer pellentesque id eros vel convallis. Suspendisse dapibus tellus quis urna aliquamadipiscing elit. Sed eu congue neque. Vestibulum eget sagittis ligula. Nunc eu vulputate nibh. Integer pellentesque id eros vel convallis.
    </p>
    </div>

    <div class="jumbotron" style="background-color: #9F8785; backface-visibility: 50%"> 
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPqXWhXgToGyZRPeLxFCGgV7EbM-guR7B9zNN5F0qw6i58_xzg" style="float: right; margin-left: 20px; max-width: 100%; margin-bottom: 20px; max-height: 100%; height: 150px; width: 150px;">
    <h2  style="text-align: right;">Graciela Chika</h2>
    <p style="color: black; text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu congue neque. Vestibulum eget sagittis ligula. Nunc eu vulputate nibh. Integer pellentesque id eros vel convallis. Suspendisse dapibus tellus quis urna aliquam, nec imperdiet nunc tincidunt. Nulla blandit dolor urna, sed sodales leo aliquet eget. Fusce nec pulvinar turpis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu congue neque. Vestibulum eget sagittis ligula. Nunc eu vulputate nibh. Integer pellentesque id eros vel convallis. Suspendisse dapibus tellus quis urna aliquamadipiscing elit. Sed eu congue neque. Vestibulum eget sagittis ligula. Nunc eu vulputate nibh. Integer pellentesque id eros vel convallis.
    </p>
    </div>

    <div class="jumbotron" style="background-color: #56927E"> 
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPqXWhXgToGyZRPeLxFCGgV7EbM-guR7B9zNN5F0qw6i58_xzg" style="float: left; margin-right: 20px; max-width: 100%; margin-bottom: 20px; max-height: 100%; height: 150px; width: 150px;">
    <h2>Windu Andira</h2>
    <p style="color: black; text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu congue neque. Vestibulum eget sagittis ligula. Nunc eu vulputate nibh. Integer pellentesque id eros vel convallis. Suspendisse dapibus tellus quis urna aliquam, nec imperdiet nunc tincidunt. Nulla blandit dolor urna, sed sodales leo aliquet eget. Fusce nec pulvinar turpis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu congue neque. Vestibulum eget sagittis ligula. Nunc eu vulputate nibh. Integer pellentesque id eros vel convallis. Suspendisse dapibus tellus quis urna aliquamadipiscing elit. Sed eu congue neque. Vestibulum eget sagittis ligula. Nunc eu vulputate nibh. Integer pellentesque id eros vel convallis.
    </p>
    </div>

    <div class="jumbotron" style="background-color: #9F8785"> 
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPqXWhXgToGyZRPeLxFCGgV7EbM-guR7B9zNN5F0qw6i58_xzg" style="float: right; margin-left: 20px; max-width: 100%; margin-bottom: 20px; max-height: 100%; height: 150px; width: 150px;">
    <h2 style="text-align: right;">Muhammad Fariz</h2>
    <p style="color: black; text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu congue neque. Vestibulum eget sagittis ligula. Nunc eu vulputate nibh. Integer pellentesque id eros vel convallis. Suspendisse dapibus tellus quis urna aliquam, nec imperdiet nunc tincidunt. Nulla blandit dolor urna, sed sodales leo aliquet eget. Fusce nec pulvinar turpis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu congue neque. Vestibulum eget sagittis ligula. Nunc eu vulputate nibh. Integer pellentesque id eros vel convallis. Suspendisse dapibus tellus quis urna aliquamadipiscing elit. Sed eu congue neque. Vestibulum eget sagittis ligula. Nunc eu vulputate nibh. Integer pellentesque id eros vel convallis.
    </p>
    </div>

<div class = "container-fluid">
        <div class="shadow-lg p-3 mb-5 bg-white rounded" >
        <h2><strong>Testimoni Pengunjung</strong></h2>
        </div>
    </div>


  {% if user.is_authenticated %}
    <div class = "container-fluid">
    <div id="alert" class=""></div>
    <div class="card text-center">
      <div class="card-header" style="font-size: 30px;">
        Testimoni
      </div>
      <div class="card-body" style="text-align: left;">
        <h5 class="card-title">  Ceritakan pada kami</h5>
        <form id="commentForm" class="form-group ml-2 mr-2">
        {% csrf_token %}
            <input id="username" type="hidden" value="{{user.username}}">
            <textarea id="commentArea"  class="form-control" rows="10" type="text" placeholder="Bagaimana dengan layanan kami?"></textarea>
            <button class="btn btn-primary" type="submit" id='kirim' style="align-items: center;">Kirim</button>
        </form>
      </div>
      <div class="card-footer text-muted">
        StEvent - Student Union
      </div>
    </div>
    </div><br><br>
    {% endif %}
    
    <div id = "isi" >
    {% if Testimonis %}
            {% for e in Testimonis %}
            <div class = "container-fluid" >
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="column">
                                <img src="http://www.eurogeosurveys.org/wp-content/uploads/2014/02/default_profile_pic.jpg" height ="70px"alt="" style="margin-right: 10px; margin-left: 20px;">
                            </div>
                            <div class="column">
                                <blockquote class="blockquote mb-0" style="color: black;">
                                   <h3 style="font-style: italic;">{{e.user_name}}</h3>
                                  <p>{{e.komentar}} <br> <h1 style="font-size: 10px;">pada {{e.created_date}}</h1> 
                                  </p>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div><br>
            {% endfor %}
    {% endif %}
    </div>
</div>
</body>
{% endblock %}
