body {
    font-family: 'Roboto', sans-serif;
    min-height: 100%;
    background-color: #000;
}

.main {
    height: 100%;
}

.wrapper {
    /*height: 100%;*/
    padding: 60px 0;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.5) 100%);
    overflow: auto;
}

form {
    display: flex;
    flex-direction: column;
}

form [type="text"], form [type="email"], form [type="password"], form [type="date"] {
    margin-bottom: 0.5rem;
    background-color: #c4c4c4;
}

.btn-primary {
    margin: 7rem auto 0;
    align-items: center;
    width: 10rem;
    border: none;
    border-radius: 10px;
    background-color: #535291;
    font-size: 18px;
}

.center-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middle-line {
    width: 1px;
    height: 150px;
    margin: 1rem 0;
    border-radius: 20px;
    background-color: #ffffff;
}

.ikuti-event {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 48px;
    text-align: center;
    color: white;
}

.row {
    color: white;
}

.page-footer {
    /*position: relative;*/
    bottom: 0;
}

.footer {
    bottom: 0;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #000;
}

.vertical-center {
    min-height: 100%; /* Fallback for browsers do NOT support vh unit */
    min-height: 50vh; /* These two lines are counted as one 🙂       */
    display: flex;
    align-items: center;
    margin: 4rem auto;
}

.google-btn {
    width: 184px;
    height: 42px;
    background-color: #4285f4;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .25)
}

.google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: #fff;
}

.google-icon {
    position: relative;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
}

.btn-text {
    float: right;
    margin: 11px 11px 0 0;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.2px;
}

.google-btn:hover {
    box-shadow: 0 0 6px #4285f4;
}

.google-btn:active {
    background: #1669F2;
}
