{% extends 'base/base.html' %}
{% block content %}

<style>
#crsl{
    height: 20px;
    width: 20px;
    border-radius: 15px;
}
</style>


<div id="carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active" id="crsl"></li>
        <li data-target="#carousel" data-slide-to="1" id="crsl"></li>
        <li data-target="#carousel" data-slide-to="2" id="crsl"></li>
    </ol>
    <!--MAX HEIGHT <= 450 ATAU CAPTION GA KELIATAN-->
    <div class="carousel-inner" style="width: 100%;max-height: 450px; !important">
        <div class="carousel-item active">
            <img class="d-block w-100" style="max-height:450px !important" src="http://jmd.im/wp-content/uploads/2017/06/blackii_thumbnail.jpg" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
                <h1 class="text-right" style="font-weight:bold">LOREM IPSUM DOLOR SIT AMET</h1>
                <p class="text-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu congue neque. Vestibulum eget sagittis ligula. Nunc eu vulputate nibh. Integer pellentesque id eros vel convallis. Suspendisse dapibus tellus quis urna aliquam, nec imperdiet nunc tincidunt. Nulla blandit dolor urna, sed sodales leo aliquet eget. Fusce nec pulvinar turpis.</p>
                <p class="text-right">December 4th 2018</p>
                <p class="text-right"><button type="button" class="btn btn-primary" style="font-weight:bold">BOOK</button></p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" style="max-height:450px !important" src="http://jmd.im/wp-content/uploads/2017/06/blackii_thumbnail.jpg" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
                <h1 class="text-right" style="font-weight:bold">LOREM IPSUM DOLOR SIT AMET</h1>
                <p class="text-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu congue neque. Vestibulum eget sagittis ligula. Nunc eu vulputate nibh. Integer pellentesque id eros vel convallis. Suspendisse dapibus tellus quis urna aliquam, nec imperdiet nunc tincidunt. Nulla blandit dolor urna, sed sodales leo aliquet eget. Fusce nec pulvinar turpis.</p>
                <p class="text-right">December 4th 2018</p>
                <p class="text-right"><button type="button" class="btn btn-primary" style="font-weight:bold">BOOK</button></p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" style="max-height:450px !important" src="http://jmd.im/wp-content/uploads/2017/06/blackii_thumbnail.jpg" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
                <h1 class="text-right" style="font-weight:bold">LOREM IPSUM DOLOR SIT AMET</h1>
                <p class="text-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu congue neque. Vestibulum eget sagittis ligula. Nunc eu vulputate nibh. Integer pellentesque id eros vel convallis. Suspendisse dapibus tellus quis urna aliquam, nec imperdiet nunc tincidunt. Nulla blandit dolor urna, sed sodales leo aliquet eget. Fusce nec pulvinar turpis.</p>
                <p class="text-right">December 4th 2018</p>
                <p class="text-right"><button type="button" class="btn btn-primary" style="font-weight:bold">BOOK</button></p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<br><br><br>
<div class="container">
    <div class="news">
        <h4 style="color: white">Berita Terbaru</h4>
        <br>
        {% for i in BeritaTerbaru %}
        <div>
            <img src = "{{i.pic}}" alt="News" style="float: left; max-width : 20%; max-height: 20%;"  />
            <h5 style="color: white">{{i.judul}}</h5>
            <p style="color: #A9A9A9; font-size: 20%">
                {{ i.deskripsi|safe|truncatewords:50|linebreaks }}
                <a href = "{{i.url}}">baca selengkapnya...</a>
            </p>
            <br><br>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}