{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Student Union | {{title}}</title>

    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="main">
    {% include 'includes/header.html' %}
    <div class="background" style="background-image: url('{{event.gambar}}');
background-size: cover;
background-position: center;">
        <div class="wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center" style="margin-top: 1rem">
                        <h1>Ikuti Event yang kamu inginkan!</h1>
                        <h1>{{event.judul}}</h1>
                    </div>
                </div>
                <div class="row vertical-center">
                    <div class="col-md-5 my-auto">
                        <form method="post">
                            {% csrf_token %}
                            {{form_member}}
                            <br>
                            <input type="submit" name="button" value="Book" class="btn btn-primary">
                            {{fail_member}}
                        </form>
                    </div>
                    <div class="col-md-2 my-auto center-text">
                        <div class="middle-line"></div>
                        <div class="">atau</div>
                        <div class="middle-line"></div>
                    </div>
                    <div class="col-md-5 my-auto">
                        <form method="post">
                            {% csrf_token %}
                            {{form_guest}}
                            <br>
                            <input type="submit" name="button" value="Book as Guest" class="btn btn-primary">
                            {{fail_guest}}
                        </form>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-2 my-auto"></div>
                    <div class="col-md-8 my-auto">
                        <h6 class="text-center">Dengan mendaftar, Anda menyetujui <span style="font-weight:bold">Persyaratan Pengunaan</span>
                            kami dan menerima email serta mengakui bahwa anda membaca <span style="font-weight:bold">Kebijakan Privasi </span>kami
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'includes/footer.html' %}
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>

