{% extends "base/base.html" %}
{%load staticfiles%}

{% block content %}
<div class = "container-fluid">
	<div class = "row justify-content-center">
		<div class = "col-sm-12 col-md-12 col-lg-12" >
			<br><br><br><br>
			<p class="h1"> {{ title }}</p>
			<hr style = "background-color: #ffffff"><br>
			<img src= {{ photo }} class="img-fluid rounded mx-auto d-block"><br>
			<p> {{ details }}  </p><br>
			<br>
		</div>
	</div>
</div>

<div class="w-100"></div>


{% endblock %}

