{% extends "base/base.html" %}
{%load staticfiles%}

{% block content %}

<div class = "container-fluid">

    <div class ="row justify-content-center">
        <div class = "col-sm-12 col-md-6 col-lg-4">
            <br>
            <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="https://youtube.com/embed/h3G7buCae8c?rel=0&autoplay=1" allow="autoplay; encrypted-media"></iframe>
            </div>
        </div>
        
        <div class = "col-sm-12 col-md-6 col-lg-4">
            <h1 style="padding-top: 50px; color: white;" >VIVA - Djakarta Warehouse Project X (DWPX) 2018 </h1><p> akhirnya resmi digelar di Garuda Wisnu Kencana (GWK) Bali hari ini, Jumat, 7 Desember 2018. Acara akan dihelat hingga Minggu, 9 Desember 2018. Meski pertama kali diadakan di Bali, antusiasme penonton pada hari pertama begitu besar. Antrean kendaraan mengular di sepanjang jalan menuju venue acara. Muda-mudi berdesakan di setiap area panggung, menari dan menikmati musik yang berdentum kencang. (Courtesy of VIVA.CO.ID, Youtube)
            <br><br> <a href="https://www.youtube.com/watch?v=h3G7buCae8c" class="btn text-light" style = "background-color: #FF4757;">Watch More</a>
        </div> 

    </div>
    <hr>
    <br>
    <div class ="row justify-content-center">
        {% for items in news %}

        <div class = "col-sm-12 col-md-4 col-lg-4" style="width: 7rem " >
                <img class="card-img-top" src={{ items.pic }} alt="Card image cap">
                <p class="h1"> <a href="{% url 'news:item' items.pk %}" style="color:white; text-align: center;"> {{ items.title }} </a></p>
                <p>{{ items.url|truncatechars_html:100}}<br>

        </div>
        
        {% endfor %}

    </div>
    <br><br><br>

</div>

{% endblock %}
