<footer class="page-footer">
    <div class="container-fluid text-white footer text-center" style="border-top: 1px solid white;">
        <p style="margin-bottom: 0;"><small>© 2018 - Student Union | <a href="#" class="text-white">Kontak Kami</a> | <a href="#" class="text-white">Kritik & Saran</small></a></p>
    </div>
</footer>
