<nav class="navbar navbar-expand-md navbar-dark bg-black" style="border-bottom: 1px solid white;">
    <div class="d-flex flex-grow-1">

        <a class="navbar-brand d-none d-lg-inline-block text-white" href="/">Student Union</a>
        <a class="navbar-brand mx-auto d-lg-none d-inline-block text-white" href="#">
            Student Union
        </a>
        <div class="w-100 text-right">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
        <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"-->
                <!--aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
            <!--<span class="navbar-toggler-icon"></span>-->
        <!--</button>-->
    <div class="collapse navbar-collapse flex-grow-1 text-right" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto flex-nowrap">
            <li class="nav-item">
                <a class="nav-link menu-item m-2 nav-active text-white" href="/news/">Berita</a>
            </li>
            <li class="nav-item">
                <a class="nav-link m-2 menu-item text-white" href="/event-list/">Event</a>
            </li>
            <li class="nav-item">
                <a class="nav-link m-2 menu-item text-white" href="/about/">About</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link m-2 menu-item text-white" href="/event-list/listed/">My Event</a>
            </li>
            <li id="dp-down">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" style="background-color: #010101; border:none;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{  user.email  }}
                    </button>
                    <div class="dropdown-menu"  aria-labelledby="dropdownMenuButton">
                        <!--<button class="dropdown-item text-white" type="button">Logout</button>-->
                        <a href="{% url 'logout' %}" class="dropdown-item btn ">Logout</a>
                        <!--<a class="dropdown-item nav-link m-2 menu-item text-white" href="{% url 'logout' %}">Logout</a>-->
                    </div>
                </div>
            </li>
            {% else %}
            <li>
                <a class="nav-link m-2 menu-item text-white" href="{% url 'social:begin' 'google-oauth2' %}">Login</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>

<style>
    #dp-down {
        display: flex;
        align-content: center;
        align-self: center;
    }
</style>
