{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Student Union | Event</title>

    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
{% include 'includes/header.html' %}

<main role="main">

    <div class="album py-5 bg-dark">
        <div class="container">
            <div class="row">

                {% for i in Event %}
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" src="{{ i.gambar }}" alt="Card image cap">
                        <div class="card-body">
                            <p class="text-dark">{{ i.judul }}</p>
                            <p class="text-dark">{{ i.deskripsi }} <a href="#">read more</a></p>
                            <p class="text-dark">Daftar Peserta:</p>
                            {% for j in event_register %}
                            {% if i == j.event %}
                            <span class="text-dark">{{j.name}}, </span>
                            {% endif %}
                            {% endfor %}
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    {% if user.is_authenticated %}
                                    <button type="button" class="btn btn-sm btn-outline-secondary"
                                            onclick="daftar({{ i.pk }})" data-toggle="modal"
                                            data-target="#exampleModalCenter2">Daftar
                                    </button>
                                    {% else %}
                                    <button type="button" class="btn btn-sm btn-outline-secondary"
                                            onclick="daftar({{ i.pk }})" data-toggle="modal"
                                            data-target="#exampleModalCenter">Daftar
                                    </button>
                                    {% endif %}
                                </div>
                                <small class="text-muted">{{ i.tanggal }}</small>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>

</main>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Login Terlebih Dahulu</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Silahkan login terlebih dahulu untuk mendaftar event <span id="judul-event"></span>
            </div>
            <div class="modal-footer">
                <a href="/auth/login/google-oauth2/" style="text-transform:none">
                    <div class="google-btn">
                        <div class="google-icon-wrapper">
                            <img class="google-icon"
                                 src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
                        </div>
                        <p class="btn-text"><b>Sign in with google</b></p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle2"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle2"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span id="body-event2"></span>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

{% include 'includes/footer.html' %}

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<!-- Compiled and minified CSS -->
<script>
    var csrftoken = "{{csrf_token}}";

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    function daftar(id) {
        var modalLoggedin = $("#exampleModalLongTitle2");
        var bodyEvent2 = $("#body-event2");
        var judulEvent = $("#judul-event");
        $.ajax({
            type: "POST",
            url: "/event-register/daftar/" + id,
            data: {},
            dataType: 'json',
            success: function (response) {
                if (response.success) {
                    modalLoggedin.empty();
                    modalLoggedin.append("Daftar Berhasil");
                    bodyEvent2.empty();
                    bodyEvent2.append(`Anda berhasil mendaftar event ${response.event}.`);
                } else if (response.fail) {
                    modalLoggedin.empty();
                    modalLoggedin.append("Daftar Gagal");
                    judulEvent.empty();
                    judulEvent.append(`${response.event}`);
                    if (response.registered) {
                        bodyEvent2.empty();
                        bodyEvent2.append("Anda sudah pernah mendaftar untuk event ini.");
                    } else {
                        bodyEvent2.empty();
                        bodyEvent2.append("Anda tidak bisa mendaftar event ini.");
                    }
                }
            }
        });
    }
</script>
</body>
</html>
