{% extends "base/base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">
    <div class="row vertical-center">
        <div class="col-md-3 my-auto"></div>
        <div class="col-md-6 my-auto">
            <h1 class="text-center text-white">Terimakasih telah mendaftar</h1>
            <h6 class="text-center text-white">Silahkan klik logo kita untuk kembali ke halaman utama</h6>
            <hr><h6 style="border-top: 1px solid white;"></h6>

        </div>

    </div>
</div>
{% endblock %}