{% extends "base/base.html" %}
{% load staticfiles %}

{% block content %}
{% load widget_tweaks %}
<div class="container">
    <div class="row vertical-center">
        <div class="col-md-3 my-auto"></div>
        <div class="col-md-6 my-auto">
            <br>
            <br>
            <h2 class="text-center" style="font-weight:bold">Daftarkan Akun Sebagai Member</h2>
            <form method="post" novalidate >
                {% csrf_token %}

                {% for hidden_field in form.hidden_fields %}
                {{ hidden_field }}
                {% endfor %}

                {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {% for error in form.non_field_errors %}
                    {{ error }}
                    {% endfor %}
                </div>
                {% endif %}

                {% for field in form.visible_fields %}
                <div class="form-group">
                    {{ field.label_tag }}

                    {% if form.is_bound %}
                    {% if field.errors %}
                    {% render_field field class="form-control is-invalid" %}
                    {% for error in field.errors %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                    {% endfor %}
                    {% else %}
                    {% render_field field class="form-control is-valid" %}
                    {% endif %}
                    {% else %}
                    {% render_field field class="form-control" %}
                    {% endif %}

                    {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <br><br>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-3 my-auto"></div>
        <div class="col-md-6 my-auto">
            <h6 class="text-center">Dengan mendaftar, Anda menyetujui <span style="font-weight:bold">Persyaratan Pengunaan</span> kami dan menerima email serta mengakui bahwa anda membaca <span style="font-weight:bold">Kebijakan Privasi </span>kami</h6>
        </div>


    </div>
    <br><br>
</div>

{% endblock %}